<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Template</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      integrity="sha384‑Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <style>
      body {
        background: linear-gradient(to bottom,#6d1d1d,#612020,#552121,#482322,#3b2323,#332121,#2b2020,#231e1e,#1f1a1a,#1a1616,#161212,#110d0d);
        margin: 0;
        background-attachment: fixed;
        min-height: 100vh;
      }
      /*Top navigation*/
      .navbar-custom {
        box-shadow: 5px 5px 10px #FF0505;
      }
      .navbar-brand-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      .nav-btn {
        min-width: 90px;
      }
      .code-input{
            font-family: 'Courier New', Courier, monospace;
            min-height: 300px;
            min-width: 100%;
      }    
      .test-input{
            font-family: 'Courier New', Courier, monospace;
            min-height: 100px;
            min-width: 100%;
      }    
      .form-control::placeholder{
              color: grey;
            }
    </style>
</head>
<body>
         <!--TOP NAV-->
         <nav class="navbar navbar-custom py-3 bg-dark">
          <div class="container-fluid">
          <!--user avatar & mini‑profile-->    
              <div class="d-flex">
                  <a 
                  class="d-flex align-items-center text-left flex-shrink-0" 
                  href="UserPage"
                  aria-label="User-home">
                  <img
                  src="{{url_for('static', filename='img/mstom_400x400.jpg')}}"
                  class="rounded-circle mr-2"
                  alt="User avatar"
                  height="48"
                  width="48"
                  />
                  <div class="d-flex">
                  <div class="font-weight-bold" style="line-height: 1">Title</div>
                  </a>
                  </div>
              </div>
      
              <!--Centred, clickable logo-->
              <a
                  class="navbar-brand navbar-brand-center"
                  href="#"
                  aria-label="Speed‑Code home"
              >
                  <img
                  src="{{url_for('static', filename='img/SCLogo.png')}}"
                  height="64"
                  alt="Speed‑Code logo"
                  />
              </a>
    
            <!--Stats button-->
            <div class="ml-auto d-flex">
              <div class="ms-2">
                <a href="SearchPage" class="btn btn-outline-light nav-btn">Search</a>
              </div>
              <div class="ms-2">
                <a href="UploadPage" class="btn btn-outline-light nav-btn">Upload</a>
              </div>
          </div>
          </nav>
  
      <!--CONTENT-->
      <form id="questionForm" method="POST">
        <div class="container py-5">
          {% for message in get_flashed_messages() %}
            <div class="alert alert-info">
              {{ message }}

            </div>
          {% endfor %}
          <div class="row">
            <div class="col-12">
              <div class="p-5 mb-3 bg-dark text-white border border-white rounded ">
                <h4>Question Title:</h4>
                <input id="Title" type="text" class="form-control bg-dark text-white" id="QuestionTitle" placeholder="Enter Question Title" name="Title" required>
              </div>
              <div class="p-5 mb-3 bg-dark text-white border border-white rounded ">
                <h4>Short Description:</h4>
                <textarea id="shortDesc" type="text" class="form-control bg-dark text-white" rows="3" placeholder="Enter Question Description" name="short_desc" required></textarea>
              </div>
              <div class="p-5 mb-3 bg-dark text-white border border-white rounded ">
                <h4>Full Description</h4>
                <textarea id="fullDesc" type="text" class="form-control bg-dark text-white" rows="10" placeholder="Enter Question Description" name="long_desc" required></textarea>
              </div>
              <div class="p-5 mb-3 bg-dark text-white border border-white rounded ">
                <h4>Dificulty Level</h4>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group"> <!--Found on bootstrap documentation for Button Group-->
                  <input onclick="HoldValue('easy')" type="radio" class="btn-check" name="btnradio" id="easy" autocomplete="off" checked>
                  <label class="btn btn-outline-danger w-100" for="easy">Easy</label>
                  <input onclick="HoldValue('medium')" type="radio" class="btn-check" name="btnradio" id="medium" autocomplete="off" checked>
                  <label class="btn btn-outline-danger w-100" for="medium">Medium</label>
                  <input onclick="HoldValue('hard')" type="radio" class="btn-check" name="btnradio" id="hard" autocomplete="off" checked>
                  <label class="btn btn-outline-danger w-100" for="hard">Hard</label>
                </div>
              </div>
              <div class="p-5 mb-3 bg-dark text-white border border-white rounded ">
                  <h4>Code is placed here</h4>
                  <textarea id="codeBlock" class="code-input bg-dark text-white" rows="15" placeholder="Enter Your Code..." required></textarea>
                  <script>
                      //copied from https://stackoverflow.com/a/10456255 
                      //to have the code window use tabs properly.
                      let newValue = "hard";
                      var myInput = document.getElementById("codeBlock");
                      if(myInput.addEventListener ) {
                          myInput.addEventListener('keydown',this.keyHandler,false);
                      } else if(myInput.attachEvent ) {
                          myInput.attachEvent('onkeydown',this.keyHandler); /* damn IE hack */
                      }

                      function keyHandler(e) {
                          var TABKEY = 9;
                          if(e.keyCode == TABKEY) {
                              this.value += "\t";
                              if(e.preventDefault) {
                                  e.preventDefault();
                              }
                              return false;
                          }
                      }
                    function HoldValue(value){ //Holds the value for which button is pressed
                      newValue = value;
                      return newValue;
                    }
                  </script>
              </div>
              <div class="p-5 mb-3 bg-dark text-white border border-white rounded ">
                  <h4>Test:</h4>
                  <textarea id="testBlock" class="test-input bg-dark text-white" rows="5" placeholder="{input:output, input:output, intput:output}" required></textarea>
              </div>
          </div>
        </div>
      </form>
      <!--Submit Button-->
      <button form="submit" class=" btn btn-lg btn-danger w-100" onclick="SubmitQuestion()">Submit and Test</a>
      
    <script>

      async function SubmitQuestion(){
        const fd = new FormData();
        var Title = document.getElementById("Title").value;
        var shortDesc = document.getElementById("shortDesc").value;
        var fullDesc = document.getElementById("fullDesc").value;
        var difficulty = newValue;
        var code = document.getElementById("codeBlock").value;
        var test = document.getElementById("testBlock").value;
        fd.append("title", Title)
        fd.append("short_desc", shortDesc)
        fd.append("full_desc", fullDesc)
        fd.append("difficulty", difficulty)
        fd.append("code", code)
        fd.append("test", test)

        const response = await fetch(window.location.href, {
          method: "POST",
          body: fd,
        });
        
      }
    </script>
</body>
</html>